<StackLayout>
	<Image src="res://logo_login" stretch="none" horizontalAlignment="center"></Image>

	<TextField hint="Correo Electronico" [(ngModel)]="user.email" keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
	<TextField hint="Contraseña" secure="true" [(ngModel)]="user.password"></TextField>

	<Button [text]="isLoggingIn ? 'Iniciar sesion' : 'Crear una cuenta'" class="submit-button" (tap)="submit()"></Button>
	<Button [text]="isLoggingIn ? 'Crear una cuenta' : 'Iniciar sesion'" (tap)="toggleDisplay()"></Button>
</StackLayout>